* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

body {
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 193, 77);
}

button,
input[type="submit"] {
    cursor: pointer;
    box-shadow: 1px 16px 30px -20px rgba(255, 193, 77, 0.6);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #252525;
    text-align: center;
}

.search-bar {
    border-radius: 8px;
    display: flex;
    width: 80%;
    max-width: 480px;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 1px 5px 66px -22px rgba(0, 0, 0, 0.25);
}

.search-bar input {
    font-size: 1rem;
    width: 100%;
    border: 0;
}

.search-bar select {
    text-align: center;
    display: flex;
    border: 0;
    background-color: #ffffff;
    color: rgb(99, 99, 99);
    width: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-bar p {
    padding: 0 1rem;
}

.shelf-container {
    background-color: rgb(250, 250, 250);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.action-group {
    padding: 0 1.5rem;
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.add-button {
    background-color: rgb(255, 193, 77);
    border: 0;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.import-button,
.export-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
    box-shadow: 1px 16px 30px -20px rgba(255, 193, 77, 0.6);
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.section-title {
    color: #2e2e2e;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 8px;
    box-shadow: 1px 23px 66px -40px rgba(0, 0, 0, 0.15);
}

.book-icon {
    margin-right: 1.25rem;
    background-color: rgb(255, 193, 77);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 16px;
    padding: 1rem;
    max-width: 32px;
}

.book-icon span {
    color: #ffffff
}

.book-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.book-info h3 {
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
}

.book-info p.author {
    color: rgb(88, 88, 88);
    margin-bottom: 8px;
}

.book-info small {
    color: rgb(88, 88, 88);
    margin-bottom: 24px;
}

.book-info h3[contenteditable="true"],
.book-info p.author[contenteditable="true"],
.book-info small[contenteditable="true"] {
    border-bottom: 2px solid rgb(231, 231, 231);
}

.book-action {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: auto; */
    margin-left: auto;
    gap: 0.5rem;
}

.book-action.hide {
    height: 0;
    width: 0;
    visibility: hidden;
}

p.info {
    visibility: hidden;
    color: rgb(255, 193, 77);
    font-weight: 700;
}

p.info.show {
    visibility: visible;
}

.book-action div {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.empty {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(194, 194, 194);
}

.done-button {
    background-color: rgb(255, 193, 77);
    border: 0;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
}

.toast {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(113, 190, 97);
    text-align: center;
    display: flex;
    box-shadow: 1px 16px 30px -20px rgb(113, 190, 97);
}

.toast.red {
    background-color: rgb(231, 96, 78);
    box-shadow: 1px 16px 30px -20px rgb(231, 96, 78);
}

.toast p {
    color: #ffffff;
    margin-left: auto;
}

.toast .close-toast {
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
    margin-right: auto;
}

.edit-button {
    background-color: rgb(245, 245, 245);
    border: 0;
    border-radius: 8px;
    padding: 0.75rem;
    /* font-size: 1rem; */
}

.edit-button svg,
.delete-button svg {
    width: 24px;
    height: 24px;
}

.delete-button {
    background-color: rgb(255, 77, 77);
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    padding: 0.75rem;
    /* font-size: 1rem; */
}

.hidden {
    position: absolute;
    visibility: hidden;
    width: 0;
    margin-left: -1rem;
}

#addBookModal {
    width: 0;
    overflow: hidden;
}

#addBookModal.open {
    width: auto;
    overflow: auto;
}

.modal-container {
    background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100%;
}

.modal-content {
    width: 100%;
    max-width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 8px;
    padding: 2rem;
    margin: auto;
}

.modal-content button.close {
    min-width: 44px;
    min-height: 44px;
    font-size: 1.5rem;
    color: #575757;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    /* margin-bottom: 2rem; */
}

.modal-content img {
    width: 82px;
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 40px;
    font-size: 18px;
}

.modal-content .accept {
    background-color: rgb(255, 193, 77);
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
}

.modal-form {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    margin-top: 8px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}

.checkbox-group {
    display: flex;
    margin: 1rem 0;
    gap: 0.5rem;
}

.checkbox-group label {
    display: inline-block;
    min-height: 20px;
}

#completed-checkbox {
    margin: 0;
    min-width: 20px;
    min-height: 20px;
}

@media only screen and (min-width: 768px) {
    .toast {
        position: relative;
        width: 100%;
        top: auto;
    }
    .action-group {
        flex-direction: row;
        padding: 0;
    }
    .book-card {
        flex-direction: row;
    }
    .book-icon {
        max-width: 64px;
        margin-bottom: auto;
    }
    .book-info small {
        margin-bottom: 0;
    }
    .book-action {
        margin-left: auto;
        flex-direction: row;
    }
    .book-action div {
        margin-left: 0;
    }
    .done-button {
        margin-left: auto;
    }
}